<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</head>
<body>
    <form method="POST" action="/users/loggedin">
    <div class="form-group card text-center text-light mt-5 pb-5 pr-5 pl-5 pt-2 bg-secondary">
        <h2>Login</h2>
        <% if(typeof err !== 'undefined'){ %>
			<div>
				<h2 style="color:red;"><%= err %></h2>
			</div>
		<% } %>
        <br>
            <input type="text" class="form-control" name="username" placeholder="Username">
            <br>
            <input type="password" class="form-control" name="password" placeholder="Password">
            <br> <br>
            <div class="row">
               <!-- <div class="col">
                    <div class="text-left text-light float-left">Don't have an account?</div>
                    <button type="button" data-toggle="modal"data-target="#loginmodal" class="text-left float-left text-primary">Click Here!</a>
                </div>-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newuser">
                        New user
                </button>
                <div class="col">
                        <button type="submit" class="btn float-right btn-lg btn-primary">Log in</button>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="newuser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">New User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method ="POST" action = "/users/signedup">
                      <div class="blur-box form-group card text-center text-light mt-5 pb-5 pr-5 pl-5 pt-2 bg-secondary" method="POST" action = "/users/signedup">
                          <br>
                              <input type="text" class="form-control mb-3" name="name" placeholder="Full name">
                              <input type="text" class="form-control mb-3" name="username" placeholder="Username: NOTE THIS CANNOT BE CHANGED">
                              <input type="password" class="form-control mb-3" name="password1" placeholder="Password">
                              <input type="password" class="form-control mb-5" name="password2" placeholder="Please Reenter Password">
                              <div class="modal-footer" >
                                  <div class="col">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <input type="Submit" value="Sign Up" class="btn float-right btn-lg btn-primary"></input>
                                  </div>
                              </div>
                              </div>
                          </div>
                      </form>
                </div>
              </div>
            </div>
          </div>
</body>
<script>
    $(function(){
        $('#login-open-button').on('click', function () {
            $('#loginmodal').modal('toggle');
          })
      });
      function closeform(){
          $("#loginmodal").toggle();
      }
      
</script>
</html>